# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Temporary outputs
data/processed/exercises.json
data/processed/exercises_normalized.json
data/processed/exercises_enriched.json

data/reports/*.json